html, body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	font-family: monospace;
	font-size: large;
	text-align: center;
}

html{
	height: 100%;
}

body{
	min-height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: flex;
}

.vertical {
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

.space-evenly {
	justify-content: space-evenly;
}

.grow {
	flex-grow: 1;
}

/* ====================
	ID styling
==================== */

#title {
	margin: 1em;
}

#gameWinMessageDisplay {
	margin-top: 0;
}

#playerChoices {
	max-width: fit-content;
	min-width: 20px;
	padding: 3px;
	margin: 3px;
	border: 3px solid black;
	border-radius: 10px;
	background-color: #dddddd;
}

#playerChoices > img {
	width: 100px;
	margin: 10px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #999999;
}

#playerChoices > img:hover {
	box-shadow: 3px 3px 3px #555555;
}

#counter > span {
	padding: 5px;
	white-space: nowrap;
}

#resetGame {
	font-size: larger;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #444444;
}

#resetGame:hover {
	box-shadow: 3px 3px 1px #444444;
}

#resetGame:focus-visible {
	outline: none;
}

#credits {
	padding: 5px;
	font-size: small;
}