/* ====================
	Element styles
==================== */

html, body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	font-family: monospace;
	font-size: large;
	text-align: center;
	overflow-x: hidden;
}

html{
	height: 100%;
}

body{
	min-height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a:focus-visible {
	outline: none;
}

button {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #444444;
}

button:hover {
	box-shadow: 3px 3px 1px #444444;
}

/* ====================
	Class styles
==================== */

.container {
	display: flex;
}

.vertical {
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

.space-evenly {
	justify-content: space-evenly;
}

.grow {
	flex-grow: 1;
}

/* ====================
	ID styles
==================== */

#gameWinMessageDisplay,
#roundWinMessageDisplay,
#scoreChangeExplanation {
	margin-left: 5px;
	margin-right: 5px;
}

#title {
	margin: 1em;
}

#gameWinMessageDisplay {
	margin-top: 0;
}

#playerChoices {
	width: 100%;
	min-width: 20px;
	padding: 3px;
	margin: 3px;
	border: 3px solid black;
	border-left: none;
	border-right: none;
	background-color: #dddddd;
}

#playerChoices > img {
	user-select: none;
	max-width: 100px;
	margin: 10px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #999999;
}

#playerChoices > img:hover {
	box-shadow: 3px 3px 3px #555555;
}

#counter > span {
	padding: 0px 30px 0px 30px;
	white-space: nowrap;
}

#resetGame {
	font-size: larger;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #444444;
}

#resetGame:focus-visible {
	outline: none;
}

#requiredScoreDiv {
	margin: 10px;
}

#requiredScoreDiv > div {
	margin: 10px;
	font-size: medium;
}

#requiredScoreInput {
	border: 1px solid black;
	border-radius: 5px;
	padding: 0 5px 0 5px;
	font-size: inherit;
}

#submitRequiredScore {
	font-size: inherit;
}

#credits {
	padding: 5px;
	font-size: small;
}

/* If on a desktop*/
@media screen and (min-width: 480px) {
	#playerChoices {
		border: 3px solid black;
		width: max-content;
		border-radius: 10px;
	}	
}